<{include file="topic_header.html"}>
<div class="nav">多爱食 > 预订</div>
<!--<div class="public bor">
    <div id="store_hall">
        <h1 class="com_bg_2">我的收藏<span><a href="javascript:void(0)">换一换</a></span></h1>
        <ul>
            <li>
                <div class="ser_img"><img src="templates/images/service/join1.jpg"/></div>
                <div class="ser_info">
                    <p>仁和兴川味酒楼</p>
                    <p>营业中</p>
                    <p>评分：4.5（34条）</p>
                </div>
            </li>
            <li>
                <div class="ser_img"><img src="templates/images/service/join1.jpg"/></div>
                <div class="ser_info">
                    <p>仁和兴川味酒楼</p>
                    <p>营业中</p>
                    <p>评分：4.5（34条）</p>
                </div>
            </li>
            <li>
                <div class="ser_img"><img src="templates/images/service/join1.jpg"/></div>
                <div class="ser_info">
                    <p>仁和兴川味酒楼</p>
                    <p>营业中</p>
                    <p>评分：4.5（34条）</p>
                </div>
            </li>
            <li class="last">
                <div class="ser_img"><img src="templates/images/service/join1.jpg"/></div>
                <div class="ser_info">
                    <p>仁和兴川味酒楼</p>
                    <p>营业中</p>
                    <p>评分：4.5（34条）</p>
                </div>
            </li>
        </ul>
        <ul class="clear"></ul>
    </div>
</div>-->
<div class="public">
    <div id="pub_le" class="bor">
        <div class="recomend">
            <h1>推荐餐厅</h1>
            <div class="padding">
                <ul>
                    <li>
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">花木兰</span></p>
                            <p>地址：朝阳区蓝色港湾国际商区3号楼</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">花木兰</span></p>
                            <p>地址：朝阳区蓝色港湾国际商区3号楼</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="last">
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">花木兰</span></p>
                            <p>地址：朝阳区蓝色港湾国际商区3号楼</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="recomend bg1">
            <h1>最新预订优惠</h1>
            <div class="order_fix">
                <ul>
                    <li>北京大饭店<span>预订9.0折</span></li>
                    <li>北京大饭店<span>预订9.0折</span></li>
                    <li>北京大饭店<span>预订9.0折</span></li>
                    <li>北京大饭店<span>预订9.0折</span></li>
                    <li>北京大饭店<span>预订9.0折</span></li>
                    <li>北京大饭店<span>预订9.0折</span></li>
                </ul>
            </div>    
        </div>
        <div class="recomend re_ad"><img src="templates/images/ad/ad1.jpg"/></div>
        <div class="recomend">
            <h1>预订排行</h1>
            <div class="o_rank">
                <ul>
                    <li><b>1</b><span>无二世家</span><span class="total">预订9.0折</span></li>
                    <li><b>2</b><span>仁和兴川味酒楼</span><span class="total">预订9.0折</span></li>
                    <li><b>3</b><span>无二世家</span><span class="total">预订9.0折</span></li>
                    <li><b>4</b><span>仁和兴川味酒楼</span><span class="total">预订9.0折</span></li>
                    <li><b>5</b><span>无二世家</span><span class="total">预订9.0折</span></li>
                    <li><b>6</b><span>仁和兴川味酒楼</span><span class="total">预订9.0折</span></li>
                    <li><b>7</b><span>无二世家</span><span class="total">预订9.0折</span></li>
                    <li><b>8</b><span>仁和兴川味酒楼</span><span class="total">预订9.0折</span></li>
                    <li class="last"><b>9</b><span>无二世家</span><span class="total">预订9.0折</span></li>
                </ul>
            </div>            
        </div>
        <div class="recomend re_bor">
            <h1>热门就餐地点</h1>
            <div class="hot_site">
                <ul>
                    <li><a href="#"><span>国贸</span></a></li><li><a href="#"><span>大望路</span></a></li><li><a href="#"><span>八里桥</span></a></li>
                    <li><a href="#"><span>魏公村</span></a></li><li><a href="#"><span>清华大学</span></a></li><li><a href="#"><span>三里屯</span></a></li>
                    <li><a href="#"><span>安定门</span></a></li><li><a href="#"><span>西四</span></a></li><li><a href="#"><span>大红门</span></a></li>
                    <li><a href="#"><span>国贸</span></a></li><li><a href="#"><span>大望路</span></a></li><li><a href="#"><span>八里桥</span></a></li>
                    <li><a href="#"><span>魏公村</span></a></li><li><a href="#"><span>清华大学</span></a></li><li><a href="#"><span>三里屯</span></a></li>
                    <li><a href="#"><span>安定门</span></a></li><li><a href="#"><span>西四</span></a></li><li><a href="#"><span>大红门</span></a></li>
                    <li><a href="#"><span>国贸</span></a></li><li><a href="#"><span>大望路</span></a></li><li><a href="#"><span>八里桥</span></a></li>
                    <li><a href="#"><span>魏公村</span></a></li><li><a href="#"><span>清华大学</span></a></li><li><a href="#"><span>三里屯</span></a></li>
                    <li><a href="#"><span>安定门</span></a></li><li><a href="#"><span>西四</span></a></li><li><a href="#"><span>大红门</span></a></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <script>
            $(".hot_site span").each(function(i,k){
                $(this).mouseover(function(){
                    $(".hot_site span").removeClass('current');
                    $(this).addClass('current');
                });
                $(this).mouseout(function(){
                    $(".hot_site span").removeClass('current');
                });
            });
        </script>
    </div>
    <div id="pub_ri">
        <div class="pub_ri bg2" style="height:200px;">
            <h1>快速预订</h1>
        </div>
        <div class="pub_ri">
            <h1>你本地热门餐厅</h1>
            <div class="hot_left"></div>
            <div class="hot_hall">
                <ul>
                    <li><img src="templates/images/service/join1.jpg"/><p>花木兰</p></li>
                    <li><img src="templates/images/service/join1.jpg"/><p>仁和兴川味酒楼</p></li>
                    <li><img src="templates/images/service/join1.jpg"/><p>无二世家</p></li>
                </ul>
            </div>
            <div class="hot_right"></div>
            <div class="clear"></div>
        </div>
        <div class="pub_ri">
            <h1 class="more_all com_bg_2">你预定过的餐厅<span>更多</span></h1>
            <div class="outed">
                <ul>
                    <li><img src="templates/images/service/join1.jpg"/></li>
                    <li><img src="templates/images/service/join1.jpg"/></li>
                    <li><img src="templates/images/service/join1.jpg"/></li>
                    <li><img src="templates/images/service/join1.jpg"/></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <div class="pub_ri">
            <h1>猜你喜欢</h1>
            <div class="like_hall">
                <ul>
                    <li>
                        <div class="like_hall_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="like_hall_all">
                            <p class="style1">无二世家</p>
                            <p>评分：4.7（34条评论）</p>
                            <p>朝阳区惠忠北路慧忠里123</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="like_hall_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="like_hall_all">
                            <p class="style1">无二世家</p>
                            <p>评分：4.7（34条评论）</p>
                            <p>朝阳区惠忠北路慧忠里123</p>
                        </div>
                        <div class="clear"></div>
                    </li> 
                    <li class="last">
                        <div class="like_hall_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="like_hall_all">
                            <p class="style1">无二世家</p>
                            <p>评分：4.7（34条评论）</p>
                            <p>朝阳区惠忠北路慧忠里123</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="last">
                        <div class="like_hall_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="like_hall_all">
                            <p class="style1">无二世家</p>
                            <p>评分：4.7（34条评论）</p>
                            <p>朝阳区惠忠北路慧忠里123</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <div class="pub_ri">
            <div class="talk">
                <h1>网友都在说</h1>
                <ul>
                    <li>
                        <div class="talk_img"><img src="templates/images/service/join1.jpg"/></div>
                        <div class="talk_all">
                            <span>网友 会上树的老夫 @北京大饭店</span>
                            <p class="cu">学院路西南角，北航科技园世宁大厦一、二层，粤菜，环境很不错，空间相当大，有自助餐。因为在立交桥把角位置，停车相对有些困难；菜品味道不错，但点菜的话价格偏贵，相对适合商务</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="talk_img"><img src="templates/images/service/join1.jpg"/></div>
                        <div class="talk_all">
                            <span>网友 会上树的老夫 @北京大饭店</span>
                            <p class="cu">学院路西南角，北航科技园世宁大厦一、二层，粤菜，环境很不错，空间相当大，有自助餐。因为在立交桥把角位置，停车相对有些困难；菜品味道不错，但点菜的话价格偏贵，相对适合商务</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="last">
                        <div class="talk_img"><img src="templates/images/service/join1.jpg"/></div>
                        <div class="talk_all">
                            <span>网友 会上树的老夫 @北京大饭店</span>
                            <p class="cu">学院路西南角，北航科技园世宁大厦一、二层，粤菜，环境很不错，空间相当大，有自助餐。因为在立交桥把角位置，停车相对有些困难；菜品味道不错，但点菜的话价格偏贵，相对适合商务</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="pub_ri">
            <h1>餐厅活动</h1>
            <div class="hall_act">
                <ul>
                    <li>[仁和兴川味酒楼] 单次消费满50元，可享9折优惠</li>
                    <li>[川湘馆] 单次消费满50元，送大可乐一瓶</li>
                    <li>[仁和兴川味酒楼] 单次消费满50元，可享9折优惠</li>
                    <li>[川湘馆] 单次消费满50元，送大可乐一瓶</li>
                    <li>[仁和兴川味酒楼] 单次消费满50元，可享9折优惠</li>
                    <li>[川湘馆] 单次消费满50元，送大可乐一瓶</li>
                    <li>[仁和兴川味酒楼] 单次消费满50元，可享9折优惠</li>
                    <li>[川湘馆] 单次消费满50元，送大可乐一瓶</li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>
