<{include file="topic_header.html"}>
<div class="nav">多爱食 > 积分</div>
<div class="public">
    <div id="pub_le">
        <div class="pub_le fast" style="display: none;">
            <h1>快速入口</h1>
            <div class="fast_in">
                <ul>
                    <li>多爱食提供的更多、更好！</li>
                    <li><a href="#"><span class="f_login">登录</span></a><a href="#"><span class="f_login">注册</span></a></li>
                </ul>
            </div>
        </div>
        <div class="pub_le">
            <div class="person">
                <img src="templates/images/public/no-pic.png"/>
                <div class="single">
                    <p class="style1">莫邪</p>
                </div>
                <div class="tishi">    
                    <div class="bor_le"></div>
                    <div class="bor_main">
                        <p class="style1">温馨提示：</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积分只能兑换相应餐厅提供的兑换物品！</p>
                    </div>
                    <div class="bor_ri"></div>
                </div>
                <div class="credits">
                    <h1>积分详情</h1>
                    <ul>
                        <li>北京大饭店<span>56积分</span></li>
                        <li>北京大饭店<span>56积分</span></li>
                        <li>北京大饭店<span>56积分</span></li>
                        <li>北京大饭店<span>56积分</span></li>
                        <li>北京大饭店<span>56积分</span></li>
                        <li class="last">展开更多</li>
                    </ul>
                </div>
                <div class="credits">
                    <h1>兑换记录</h1>
                    <ul>
                        <li><p>红烧牛肉（北京大饭店）</p><p class="p1">已兑换<span class="s1">2013-01-23</span></p></li>
                        <li><p>红烧牛肉（北京大饭店）</p><p class="p1">已兑换<span class="s1">2013-01-23</span></p></li>
                        <li><p>红烧牛肉（北京大饭店）</p><p class="p1">已兑换<span class="s1">2013-01-23</span></p></li>
                        <li class="last"><p>红烧牛肉（北京大饭店）</p><p class="p1">已兑换<span class="s1">2013-01-23</span></p></li>
                    </ul>
                </div>
                <div class="no_credits" style="display: none;">
                    <h1>兑换记录</h1>
                    <p>暂无兑换记录</p>
                </div>
            </div>
        </div>
        <div class="pub_le">
            <img src="templates/images/ad/ad1.jpg"/>
        </div>
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门兑换</h1>
            <div class="padding">                
                <ul>
                    <li>
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">红烧茄子</span></p>
                            <p>北京大饭店</p>
                            <p>已有55人兑换</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">红烧茄子</span></p>
                            <p>北京大饭店</p>
                            <p>已有55人兑换</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">红烧茄子</span></p>
                            <p>北京大饭店</p>
                            <p>已有55人兑换</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">红烧茄子</span></p>
                            <p>北京大饭店</p>
                            <p>已有44人兑换</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="last">
                        <div class="re_img"><a href="#"><img src="templates/images/service/join1.jpg"/></a></div>
                        <div class="re_all">
                            <p><span class="style1">红烧茄子</span></p>
                            <p>北京大饭店</p>
                            <p>已有33人兑换</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="pub_ri">
        <div class="pub_ri">
            <h1>你目前能兑换的物品</h1>
            <div class="jifen">         
                <ul>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p>【花木兰】辣子鸡丁</p><p>所需积分2000</p></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <div class="pub_ri">
            <img src="templates/images/ad/ad5.jpg" style="width:700px;*width:698px;"/>
        </div>
        <div class="pub_ri">
            <h1>积分商城</h1>
            <div class="credits_store">
                <ul>
                    <li>
                        <div class="c_s_img"><img src="templates/images/cate/food3.jpg"/></div>
                        <div class="c_s_main">
                            <p>农家小炒肉<span>仁和兴川味酒楼</span></p>
                            <p>所需积分：1400</p>
                            <p>说明：美味可口，极品美食，只需要1400积分就可免费品尝</p>
                            <p>已被<span class="style1">34</span>人兑换过</p>
                        </div>
                        <div class="c_s_ex">
                            <span>我要兑换</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="c_s_img"><img src="templates/images/cate/food3.jpg"/></div>
                        <div class="c_s_main">
                            <p>农家小炒肉<span>仁和兴川味酒楼</span></p>
                            <p>所需积分：1400</p>
                            <p>说明：美味可口，极品美食，只需要1400积分就可免费品尝</p>
                            <p>已被<span class="style1">34</span>人兑换过</p>
                        </div>
                        <div class="c_s_ex">
                            <span>我要兑换</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="c_s_img"><img src="templates/images/cate/food3.jpg"/></div>
                        <div class="c_s_main">
                            <p>农家小炒肉<span>仁和兴川味酒楼</span></p>
                            <p>所需积分：1400</p>
                            <p>说明：美味可口，极品美食，只需要1400积分就可免费品尝</p>
                            <p>已被<span class="style1">34</span>人兑换过</p>
                        </div>
                        <div class="c_s_ex">
                            <span>我要兑换</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="c_s_img"><img src="templates/images/cate/food3.jpg"/></div>
                        <div class="c_s_main">
                            <p>农家小炒肉<span>仁和兴川味酒楼</span></p>
                            <p>所需积分：1400</p>
                            <p>说明：美味可口，极品美食，只需要1400积分就可免费品尝</p>
                            <p>已被<span class="style1">34</span>人兑换过</p>
                        </div>
                        <div class="c_s_ex">
                            <span>我要兑换</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="c_s_img"><img src="templates/images/cate/food3.jpg"/></div>
                        <div class="c_s_main">
                            <p>农家小炒肉<span>仁和兴川味酒楼</span></p>
                            <p>所需积分：1400</p>
                            <p>说明：美味可口，极品美食，只需要1400积分就可免费品尝</p>
                            <p>已被<span class="style1">34</span>人兑换过</p>
                        </div>
                        <div class="c_s_ex">
                            <span>我要兑换</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="last">
                        <div class="c_s_img"><img src="templates/images/cate/food3.jpg"/></div>
                        <div class="c_s_main">
                            <p>农家小炒肉<span>仁和兴川味酒楼</span></p>
                            <p>所需积分：1400</p>
                            <p>说明：美味可口，极品美食，只需要1400积分就可免费品尝</p>
                            <p>已被<span class="style1">34</span>人兑换过</p>
                        </div>
                        <div class="c_s_ex">
                            <span>我要兑换</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>

