<{include file="topic_header.html"}>
<div class="nav">多爱食 > 资讯 > <{$title}></div>
<div class="public">
    <div id="pub_le">
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门攻略<span class="more">更多></span></h1>
            <div class="hot">
                <ul>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li class="last"><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                </ul>
            </div>
        </div>
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门导向<span class="more">更多></span></h1>
            <div class="hot">
                <ul>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li class="last"><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                </ul>
            </div>
        </div>
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门动态<span class="more">更多></span></h1>
            <div class="hot">
                <ul>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新菜</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新菜</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新</a></li>
                    <li class="last"><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="pub_ri">
        <div class="pub_ri essay_bor">
            <div class="essay_one">
                <h2>多吃番茄心情好,能防抑郁症</h2>
                <p class="e_key">来源：多爱食<span style="margin-left: 35px;">时间：2013-03-15</span></p>
                <p class="e_key">关键字：抑郁症，番茄，心情</p>
                <p class="brief">摘要：每周吃几次番茄，就能降低患抑郁症的风险，让心情更舒畅。 </p>
                <p class="e_content">
                据英国《每日邮报》报道，中国与日本的研究人员发现，每周吃几次番茄，就能降低患抑郁症的风险，让心情更舒畅。
                由天津医科大学牛凯军博士领导的中日联合科研团队分析了近千名70岁以上的日本老人的饮食与心理健康状况后发现，与那些每周吃1次或不吃番茄的人相比，每周吃2—6次番 茄的人患抑郁症的风险降低了46%，而每天都吃番茄的人，患抑郁症的几率会下降52%。同时，甘蓝、红萝卜、洋葱和南瓜等食物对心理健康的帮助不大。研究 者称，已知番茄内富含的番茄红素能抗氧化，降低前列腺癌及心脏病发作的几率。这一研究可能意味着，番茄红素还能影响人的心情。
                </p>
                <div class="e_ph">
                    <ul>
                        <li><img src="templates/images/cate/hel_1.jpg"/></li>
                        <li><img src="templates/images/cate/hel_1.jpg"/></li>
                        <li><img src="templates/images/cate/hel_1.jpg"/></li>
                        <li><img src="templates/images/cate/hel_1.jpg"/></li>
                    </ul>
                    <ul class="clear"></ul>
                </div>
            </div>
            <div class="more_way">
                <h1>更多美食攻略</h1>
                <ul>
                    <li>营养师最爱吃的8大零食<span>2013-01-22</span></li>
                    <li>多吃冬瓜不得脂肪肝<span>2013-01-21</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-20</span></li>
                    <li>冰镇饮料会增加女性患脑梗风险<span>2013-01-19</span></li>
                    <li>4款家常养生饮食法<span>2013-01-18</span></li>
                    <li>冬季四种不上火吃法<span>2013-01-17</span></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>
