<{include file="topic_header.html"}>
<div class="nav">多爱食 > 美食 > 台式卤肉饭</div>
<div class="public">
    <div id="pub_le">
        <div class="pub_le">
            <h1 class="cate_one_h1">去餐厅吃它</h1>
            <div class="hall_curr">
                <img src="templates/images/service/join3.jpg"/>
                <p class="nm">巴蜀人家(三里屯店)</p>
                <p class="br"><span class="first">川菜</span><span>评分：4.6</span><span class="last">评论：30条</span></p>
                <p>地址：朝阳区惠忠北路慧忠里123号</p>
                <p class="or">预订<i>9.5</i>折<span>我要预订</span></p>
            </div>
        </div>
        <div class="pub_le">
            <h1 class="cate_one_h1">该餐厅其它美食<span class="more">更多></span></h1>
            <div class="hall_curr_other">
                <ul>
                    <li><img src="templates/images/cate/hel_3.jpg"/></li>
                    <li><img src="templates/images/cate/hel_4.jpg"/></li>
                    <li><img src="templates/images/cate/hel_3.jpg"/></li>
                    <li><img src="templates/images/cate/hel_4.jpg"/></li>
                    <li><img src="templates/images/cate/hel_3.jpg"/></li>
                    <li><img src="templates/images/cate/hel_4.jpg"/></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <div class="pub_le">
            <h1 class="cate_one_h1">其他餐厅也有它</h1>
            <div class="other_have">
                <ul>
                    <li>鱼香美食（华贸店）<span>9.1折</span></li>
                    <li>七寻八找私房菜（华贸店）<span>9.1折</span></li>
                    <li>鱼香美食（华贸店）<span>9.1折</span></li>
                    <li>七寻八找私房菜（华贸店）<span>9.1折</span></li>
                    <li class="last">鱼香美食（华贸店）<span>9.1折</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="pub_ri">
        <div class="pub_ri">
            <h1 class="cate_h1">台式卤肉饭</h1>
            <div class="cate_brief">
                <div class="cate_brief_left">
                    <div class="brief_info">
                        <i class="i2"></i>
                        <i class="i1 style1">菜系</i>
                        <p><span>川菜</span><span>台湾菜</span></p>
                    </div>
                    <div class="brief_info">
                        <i class="i2"></i>
                        <i class="i1 style1">主料</i>
                        <p><span>台湾卤肉</span><span>米饭</span><span>台湾卤肉</span><span>米饭</span></p>
                    </div>
                    <div class="brief_info">
                        <i class="i2"></i>
                        <i class="i1 style1">价格</i>
                        <p><span class="style1">￥34</span></p>
                    </div>
                    <div class="brief_info">
                        <i class="i2"></i>
                        <i class="i1 style1">特色</i>
                        <p>鲜香可口，美味十足，油而不腻</p>
                    </div>
                    <div class="brief_store">
                        <p><i></i>台式卤肉饭累计67人评论，34人收藏!</p>
                        <p><span>我要收藏</span><span>我要评论</span></p>
                    </div>
                </div>
                <div class="cate_brief_right">
                    <div class="cate_big_img">
                        <img src="templates/images/cate/foodx.jpg"/>
                    </div>
                    <div class="cate_small_img">
                        <ul>
                            <li><img src="templates/images/cate/foodx.jpg"/></li>
                            <li><img src="templates/images/cate/foodx.jpg"/></li>
                            <li><img src="templates/images/cate/foodx.jpg"/></li>
                        </ul>
                        <ul class="clear"></ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="relative">
                <h1>相关美食</h1>
                <ul>
                    <li><img src="templates/images/cate/food1.jpg"/></li>
                    <li><img src="templates/images/cate/food3.jpg"/></li>
                    <li><img src="templates/images/cate/food1.jpg"/></li>
                    <li><img src="templates/images/cate/hel_1.jpg"/></li>
                    <li><img src="templates/images/cate/hel_3.jpg"/></li>
                    <li><img src="templates/images/cate/hel_2.jpg"/></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <div class="pub_ri">
            <h1>台式卤肉饭共有64条评论</h1>
            <div class="cate_comment">
                <ul>
                    <li class="first">
                        <div class="head_img"><img src="templates/images/public/no-pic.png"/></div>
                        <div class="comment_info">
                            <i></i>
                            <textarea></textarea>
                            <p class="com_button"><span class="submit_comment">提交</span><span class="submit_comment">取消</span></p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="head_img"><img src="templates/images/public/no-pic.png"/></div>
                        <div class="comment_info">
                            <i></i>
                            <p class="vip_ti">网友<span class="vip_name">安室奈美惠</span>2013-03-23 13:44:35</p>
                            <p>这个真的不错，上次去试了试，口味非常的号，不相信大家可以去看看，尝尝，这里强烈推荐一下！</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="head_img"><img src="templates/images/public/no-pic.png"/></div>
                        <div class="comment_info">
                            <i></i>
                            <p class="vip_ti">网友<span class="vip_name">安室奈美惠</span>2013-03-23 13:44:35</p>
                            <p>这个真的不错，上次去试了试，口味非常的号，不相信大家可以去看看，尝尝，这里强烈推荐一下！</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>
