<{include file="topic_common_header.html"}>
<div class="public logo_bg">
    <div class="logo"><a href="index.php"><img src="templates/images/public/logo.png"/></a></div>
    <div class="clear"></div>
</div>
<div class="public seek_title"><h1></h1></div>
<div class="public">
    <div id="login_left">
        <ul>
            <li>
                <span>使用第三方账号登录多爱食：</span>
                <p class="auth">
                    <a href="" class="auth_qq"></a>
                    <a href="" class="auth_sina"></a>
                    <a href="" class="auth_renren"></a>
                </p>
            </li>
        </ul>
        <table>
            <tr>
                <td class="listName">用户名：</td>
                <td class="listInput"><input type="text" class="nax"/></td>
                <td class="listCon">请输入您的用户名.</td>
            </tr>
            <tr>
                <td class="listName">注册邮箱：</td>
                <td class="listInput"><input type="text" class="nax"/></td>
                <td class="listCon">请输入您注册用的邮箱地址,找回密码邮件会自动发送到您的邮箱.</td>
            </tr>
            <tr>
                <td class="listName"></td>
                <td class="listInput"><input type="button" value="找回密码" class="login_submit"/></td>
                <td class="listCon"></td>
            </tr>
        </table>
    </div>
    <div id="login_right">
        <p>如果你已经注册了多爱食账号，请点击这里登录！</p>
        <p><a href="index.php?mod=user&code=login">登 录</a></p>
        <p>还没有注册多爱食账号？点击这里开始注册吧！</p>
        <p><a href="index.php?mod=user&code=register">注 册</a></p>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>
