<{include file="topic_common_header.html"}>
<div class="public logo_bg">
    <div class="logo"><a href="index.php"><img src="templates/images/public/logo.png"/></a></div>
    <div class="clear"></div>
</div>
<div class="public login_title"><h1></h1></div>
<div class="public">
    <div id="login_left">
        <ul>
            <li>
                <span>使用第三方账号登录多爱食：</span>
                <p class="auth">
                    <a href="" class="auth_qq"></a>
                    <a href="" class="auth_sina"></a>
                    <a href="" class="auth_renren"></a>
                </p>
            </li>
            <li>
                <span>用户名：</span>
                <span><input type="text" class="nax"/></span>
            </li>
            <li>
                <span style="margin-left:14px;">密码：</span>
                <span><input type="password" class="nax"/></span>
            </li>
            <li class="mar">
                <span><input type="checkbox" value="" checked/>记住账号</span>
                <span style="margin-left:20px;"><input type="checkbox" value="" checked/>自动登录</span>
            </li>
            <li class="mar">
                <span><input type="button" value="登 录" class="login_submit"/></span>
            </li>
        </ul>
    </div>
    <div id="login_right">
        <p>还没有注册多爱食账号？点击这里开始注册吧！</p>
        <p><a href="index.php?mod=user&code=register">注 册</a></p>
        <p>啊？忘记多爱食登录密码了？好吧，点击这里找回密码！</p>
        <p><a href="index.php?mod=user&code=seek">找回密码</a></p>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>
