<{include file="topic_header.html"}>
<div class="nav">多爱食 > 美食</div>
<div class="public com_bg_2">
    <div class="select ">
        <div class="sort">
            <h1>菜系</h1>
            <a href="#">川菜</a><a href="#">川菜</a><a href="#">东北菜</a><a href="#">川菜</a><a href="#">川菜</a>
            <a href="#">西北菜</a><a href="#">川菜</a><a href="#">川菜</a><a href="#">川菜</a><a href="#">川菜</a>
        </div>
        <div class="sort">
            <h1>类别</h1>
            <a href="#">凉菜</a><a href="#">凉菜</a><a href="#">凉菜</a><a href="#">凉菜</a><a href="#">凉菜</a>
            <a href="#">凉菜</a><a href="#">凉菜</a><a href="#">凉菜</a><a href="#">凉菜</a>
        </div>
        <div class="sort">
            <h1>口味</h1>
            <a href="#">酸</a><a href="#">香辣</a><a href="#">酸</a><a href="#">酸</a><a href="#">鱼香</a><a href="#">酸</a>
            <a href="#">酸</a><a href="#">麻辣</a><a href="#">奶香</a><a href="#">酸</a><a href="#">甜</a><a href="#">酸</a>
        </div>
        <div class="sort" style="border-right: none;">
            <h1>食材</h1>
            <a href="#">牛肉</a><a href="#">鱼</a><a href="#">酸</a><a href="#">酸</a><a href="#">酸</a><a href="#">酸</a>
            <a href="#">酸</a><a href="#">酸</a><a href="#">羊肉</a><a href="#">海鲜</a><a href="#">酸</a><a href="#">酸</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="public">
    <div id="cate_sort">
        <span>多爱美食--川菜</span>
        <ul>
            <li class="current"><a href="#">最新</a></li>
            <li><a href="#">最热</a></li>
        </ul>
        <ul class="clear"></ul>
    </div>
</div>
<div class="public">
    <div id="cate_show">
        <div class="cate_one">
            <img src="templates/images/cate/cul_1.png"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>     
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/focus_1.jpg"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/cul_2.png"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/focus_2.jpg"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/cul_1.png"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/cul_1.png"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/focus_1.jpg"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/cul_2.png"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/focus_2.jpg"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>
            </p>
        </div>
        <div class="cate_one">
            <img src="templates/images/cate/cul_1.png"/>
            <p class="name"><b>台式卤肉饭</b><span class="from">来自 无二世家</span></p>
            <p class="sc">
                <span class="store"><i></i><b class="cu">12</b></span>
                <span class="store1"><i></i><b class="cu">13</b></span>              
            </p>
        </div>
    </div>
</div>
<div class="public">
    <img src="templates/images/public/loading.gif" width="25"/>
    正在加载...
</div>
<script>
    //瀑布流布局
    var marLeft=23;
    var marTop=25;
    var marBottom=20;
    var li=$(".cate_one");
    var li_w=li[0].offsetWidth;
    function sort(){
        var h=[];
        var n=$("#cate_show").width()/li_w|0;
        for(var i=0;i<li.length;i++){
            var li_h=li[i].offsetHeight;
            if(i<n){
                h[i]=li_h;
                li.eq(i).css("top",0);
                li.eq(i).css("left",i * (li_w+marLeft));
            }else{
                min_H =Math.min.apply(null,h);
                minKey = getarraykey(h, min_H);//
                h[minKey] += li_h+marTop;
                li.eq(i).css("top",min_H+marTop);//
                li.eq(i).css("left",minKey * (li_w+marLeft));    
            }
        }
        max =Math.max.apply(null,h)+marBottom ;
        $("#cate_show").css("height",max); 
    }
    function getarraykey(s, v) {for(k in s) {if(s[k] == v) {return k;}}}
    //window.onload = window.onresize = function() {sort()};
    sort();
    //收藏
    $(".store").click(function(){
        $(".store1").show();
        $(".store").hide();  
        var val_1=parseInt($(".store b").html())+1;
        $(".store1 b").html(val_1);
    });
    $(".store1").click(function(){
        $(".store").show();
        $(".store1").hide();
        var val_2=parseInt($(".store1 b").html())-1;
        $(".store b").html(val_2);
    });
</script>
<{include file="topic_footer.html"}>

