<{include file="topic_header.html"}>
<div class="nav">多爱食 > 排行榜 > <{$ti}></div>
<div class="public">
    <div id="pub_le">
        <div class="pub_le">
            <img src="templates/images/ad/ad7.jpg"/>
        </div>
        <div class="pub_le">
            <h1 class="rank_all_ti">排行榜</h1>
            <div class="rank_all">
                <ul>
                    <li><a href="#">本周最热餐厅</a></li>
                    <li><a href="#">本月最热餐厅</a></li>
                    <li><a href="#">本周最热外卖餐厅</a></li>
                    <li><a href="#">本月最热外卖餐厅</a></li>
                    <li><a href="#">折扣最低的餐厅</a></li>
                    <li><a href="#">热门美食</a></li>
                    <li><a href="#">评论最多的美食</a></li>           
                    <li><a href="#">评论最多的餐厅</a></li>             
                </ul>
            </div>
        </div>
        <div class="pub_le">
            <img src="templates/images/ad/ad8.jpg"/>
        </div>
    </div>  
    <div id="pub_ri">
        <div class="pub_ri">
            <h1 class="rank_all_ti">本月热门餐厅排行榜</h1>
            <div class="rank_list">
                <ul>
                    <li><b class="color">1</b>江边城外烤全鱼(亚运村店)<i>大望路</i><span>34人评论</span></li>
                    <li><b class="color">2</b>江边城外烤全鱼(亚运村店)<span>34人评论</span></li>
                    <li><b class="color">3</b>江边城外烤全鱼(亚运村店)<span>34人评论</span></li>
                    <li><b>4</b>江边城外烤全鱼(亚运村店)<span>34人评论</span></li>
                    <li><b>5</b>江边城外烤全鱼(亚运村店)<span>34人评论</span></li>
                    <li><b>6</b>江边城外烤全鱼(亚运村店)<span>34人评论</span></li>
                    <li><b>7</b>江边城外烤全鱼(亚运村店)<span>34人评论</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>