<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet" href="templates/styles/common.css"/>
        <script type="text/javascript" src="templates/js/jquery.js"></script>
    </head>
    <body>
        <div class="head">
            <div class="head_con">
                <div class="head_le">
<!--                    <span><b>中午好，<a href="#">James</a>，欢迎来到多爱食！</b></span><span class="space">退出</span>-->
                    <span><b>中午好，欢迎来到<span class="style1">多爱食</span>！</b></span><span class="space">[<a href="#">登录</a>]</span><span class="space">[<a href="#">注册</a>]</span>
                </div>
                <div class="head_ri">
                    <ul>
                        <li class="first"><a href="#">餐厅管理</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">我的美食筐</a></li>
                        <li><a href="#">我的收藏</a></li>
                        <li><a href="#">积分兑换</a></li>
                        <li><a href="#">收藏本站</a></li>
                        <li class="last"><a href="#">微博关注</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>