<{include file="topic_header.html"}>
<div class="nav">多爱食 > 资讯 > <{$title}></div>
<div class="public">
    <div id="pub_le">
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门攻略<span class="more">更多></span></h1>
            <div class="hot">
                <ul>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                    <li class="last"><a href="index.php?mod=news&code=strategy&id=1">多吃番茄心情好,能防抑郁症</a></li>
                </ul>
            </div>
        </div>
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门导向<span class="more">更多></span></h1>
            <div class="hot">
                <ul>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                    <li class="last"><a href="index.php?mod=news&code=strategy&id=1">【合家欢农家乐】享受美食的同时...</a></li>
                </ul>
            </div>
        </div>
        <div class="pub_le">
            <h1 class="com_bg_2"><span class="h1"></span>热门动态<span class="more">更多></span></h1>
            <div class="hot">
                <ul>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新菜</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新菜</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新</a></li>
                    <li><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新</a></li>
                    <li class="last"><a href="index.php?mod=news&code=strategy&id=1">【肯德基】肯德基尚选晚餐又出新</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="pub_ri">
        <div class="pub_ri bg4" style="border:1px solid #eee;*border:none;">
            <div class="news_recommend">
                <h1><{$title}></h1>
                <ul>
                    <li><a href="#"><img src="templates/images/cate/food1.jpg"/></a><p><a href="#">享受北风的美味</a></p></li>
                    <li><a href="#"><img src="templates/images/cate/hel_2.jpg"/></a><p><a href="#">吃出浪漫的气息</a></p></li>
                    <li><a href="#"><img src="templates/images/cate/food3.jpg"/></a><p><a href="#">无微不至的关怀</a></p></li>
                    <li><a href="#"><img src="templates/images/cate/hel_1.jpg"/></a><p><a href="#">情侣的专属</a></p></li>
                </ul>
                <ul class="clear"></ul>
            </div>
        </div>
        <div class="pub_ri">
            <div class="essay_list">
                <h1><{$title}></h1>
                <ul>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li>鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                    <li class="last">鱿鱼含牛磺酸可降胆固醇<span>2013-01-25</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<{include file="topic_footer.html"}>
